/** EDIT PRODUCT **/
div.images-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-bottom: 2em;
    grid-template-rows: repeat(auto-fit, minmax(100px, 500px));
    grid-gap: 10px;
}

figure.img-container {
    position: relative;
    align-self: center;
    text-align: center;
    margin: 0;
    height: 100%;
}

img.product-image {
    object-fit: cover;
    height: 100%;
}

div.update-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    cursor: pointer;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

div.update-img:hover {
    opacity: 1;
}

div.update-img i {
    color: #ffffff;
    font-size: 1.5em;
}

div.update-img i:hover {
    font-size: 1.8em;
}

.update-img-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.fa-star.gold {
    color: gold;
}