{% block checkbox_widget %}
    <input type="checkbox" name="send_contact_form[rgpd][]"  id="send_contact_form_rgpd_0" value="ok" /> en cochant cette case vous acceptez notre <a href="#">politique de confidentialité</a>
{% endblock %}