{% extends 'layout/layout.html.twig' %}
{% block description %}
    CSLoisirsCréatifs conception de meubles en carton. Voici les dates des stages disponibles pour cette année. Tout les niveaux sont acceptés.
{% endblock %}

{% block title %}
    CSLoisirsCréatifs - Stages
{% endblock %}

{% block container %}
<section>
    <div class="wrapper-grid-container m-top-3">
        <div class="wrapper-header">
            <h1>Prix des Stages</h1>
        </div>
        <div class="grid-container formations-content">
            <div>
                <img src="{{ asset('assets/images/new-york-city-801867_1920.jpg') }}" class="img-fluid" alt="CSLoisirsCréatifs - Les stages" />
            </div>
            <div class="prices-details">
                <h2 class="price">Les stages se déroulent dans les entreprises, dans les chambres d’hôtes, à Douarnenez, dans un rayon supérieur à 70 kms de mon domicile</h2>
                <p>Un chèque d’acompte de 50 % sera envoyé avec le formulaire d’inscription. Le solde sera réglé au plus tard 30 jours avant le début du stage.
                    Les sommes perçues restent acquises en cas d’annulation de votre part dans un délai inférieur à 15 jours avant le début du stage choisi.</p>
                <p class="price-formation-colorized">Tarif : 52€ par jour</p>
                <p class="price-details-bolder">La liste des fournitures, en fonction de la nature du stage, est donnée à l’inscription.</p>
            </div>
        </div>
        <div class="wrapper-header">
            <h1 id="cours-prices">Prix des Cours</h1>
        </div>
        <div class="grid-container formations-content">
            <div>
                <img src="{{ asset('assets/images/new-york-city-801867_1920.jpg') }}" class="img-fluid" alt="CSLoisirsCréatifs - Les prix" />
            </div>
            <div class="prices-details">
                <h2 class="price">Je vous propose des cours à la journée de 10h à 17h avec une pause déjeuner sur place.</h2>
                <p>Vous pouvez acheter 1, 5 ou 10 cours et les utiliser pendant <strong>1 an de date à date.</strong>
                    Une fiche de découpe de l’objet que vous aurez choisi de réaliser vous sera envoyée.
                    Vous réaliserez un objet par cours sauf pour les meubles en carton, certains encadrements et boîtes plus complexes.
                </p>
                {% for price in prices %}
                <p class="price-cours-colorized">{{ price.title }} : {{ price.price }} €</p>
                {% endfor %}
                <p class="price-details-bolder">La liste des fournitures, en fonction de la nature du stage, est donnée à l’inscription.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}